# Lab 2
lab2/4840_lab2-img.tar.gz
lab2/4840_lab2.tar.gz
lab2/lab2-16G.img
# lab2/orginal/
# lab2/description/

# Lab 3
lab3/4840_lab3-hw.tar.gz
lab3/4840_lab3-sw.tar.gz
# lab3/4840_lab3.pdf
lab3/4840_lab3_linux-headers-4.19.0.tar.gz
lab3/usr/
lab3-test/
